/*CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(20, 20, 20);
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards {
  display: flex;
  max-width: 916px;
  flex-wrap: wrap;
  gap: 8px;
  width: calc(100% - 20px);
}

.card {
  background-color: rgba(255, 255, 255, .02);
  height: 260px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, .1);
  position: relative;
}

 .card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 2, 2, 0.6), transparent 20%);
  content: "";
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
 }

 .card:hover::before {
  opacity: 1;
 }